<ion-header>
  <ion-toolbar>
    <ion-title>Crear Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" autocapitalize="sentences"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Rol:</ion-label>
        <ion-select formControlName="rol">
          <ion-select-option>administrador</ion-select-option>
          <ion-select-option>tiqueador</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CI:</ion-label>
        <ion-input type="number" formControlName="ci"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    
  </form>
  <ion-button (click)="guardaUsr()" expand="full" [disabled]="!formulario.valid"><ion-label>Guardar</ion-label>
  </ion-button>
</ion-content>
