<ion-header>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>NUEVA REUNIÓN</ion-title>
    <ion-buttons slot="end">
        <ion-button routerLink="/">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Lugar</ion-label>
      <ion-input formControlName="lugar" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Fecha</ion-label>
      <ion-datetime displayFormat="DD MMMM YYYY" max="2030-12-31" min="2019-01-01" formControlName="fecha" picker-format="DD/MMM/YYYY"></ion-datetime>
      <!-- <ion-input formControlName="fecha"></ion-input> -->
    </ion-item>
    <ion-item>
      <ion-label >Hora Inicio</ion-label>
      <ion-datetime displayFormat="HH:mm" minuteValues="0,15,30,45" formControlName="horainicio"></ion-datetime>
      <!-- <ion-input formControlName="horainicio"></ion-input> -->
    </ion-item>
    <ion-item>
        <ion-label >Duración</ion-label>
        <ion-select formControlName="duracion">
          <ion-select-option>30mins</ion-select-option>
          <ion-select-option>1hora</ion-select-option>
          <ion-select-option>2horas</ion-select-option>
          <ion-select-option>3horas</ion-select-option>
          <ion-select-option>media jornada</ion-select-option>
          <ion-select-option>todo el día</ion-select-option>
          <ion-select-option>por tiempo y materia</ion-select-option>
          <ion-select-option>indefinida</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Número de Tiqueos</ion-label>
        <ion-select formControlName="tiqueos">
          <ion-select-option value="1">1 Tiqueo</ion-select-option>
          <ion-select-option value="2">2 Tiqueos</ion-select-option>
          <ion-select-option value="3">3 Tiqueos</ion-select-option>
          <ion-select-option value="4">4 Tiqueos</ion-select-option>
          <ion-select-option value="5">5 Tiqueos</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Instrucciones</ion-label>
        <ion-input formControlName="instrucciones" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Documentos adjuntos</ion-label>
          <ion-input formControlName="docs" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label >Estado</ion-label>
          <ion-select formControlName="estado">
            <ion-select-option>Por realizarse</ion-select-option>
            <ion-select-option>Completado</ion-select-option>
            <ion-select-option>Suspendido</ion-select-option>
            <ion-select-option>Cancelado</ion-select-option>
          </ion-select>
        </ion-item>
  </ion-list>
  <!-- <ion-button expand="full" (click)="enviaFormNuevaReunion()" [disabled]="!formulario.valid">Guardar Cambios</ion-button> -->
</form>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-button expand="full" (click)="enviaFormNuevaReunion()" [disabled]="!formulario.valid">Guardar Reunión</ion-button>
    </ion-toolbar>
  </ion-footer>
